:root{
    --cor-primaria: blueviolet;
    --cor-secundaria: #718387;
    --font-primaria: "Quicksand", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}


/* LINK */
.menu-link:link{
    color: #FFFFFF;
    border-bottom: var(--cor-secundaria);
    text-decoration: none;
    display: inline-block;
    padding: 8px;
}

.menu-link:visited{
    color: lightgray;
    border-bottom: 2px var(--cor-secundaria) solid;
    text-decoration: none;
}

.menu-link:hover{
    border-bottom: 2px #FFFFFF solid;
}

.menu-link:active{
    color: blueviolet;
    border-bottom: 2px var(--cor-primaria) solid;
}

.menu{
    background-color: var(--cor-secundaria);
    color: #FFFFFF;
    padding: 8px;
    padding-left: 150px;   
}
.menu > ul{
    list-style: none;
}
.menu > ul > li{
    display: inline;
    padding-left: 10px;
}

.foto-perfil{
    width: 122px;
    height: 122px;
    border: 2px #FFFFFF solid;
    border-radius: 50%;
}
.apresentacao{
    background: rgb(72, 98, 136);

    background: linear-gradient(0deg, rgba(72, 98, 136, 0.7) 0%, rgba(152,51,108,0.7) 100%), url("/assets/images/fundo.png");

    color: #FFFFFF;
    text-align: center;
    height: 500px;

    padding-top: 100px;
}

.apresentacao > h1{
    font-family: var(--font-primaria);
    font-size: 32px;
}

.redes-sociais{
    padding: 8px;
}

.redes-sociais > img{
    padding: 8px;
}

.redes-sociais > a > img{
    padding-left: 15px;
}
.secao{
    margin: 8px;
    padding-left: 150px;
}

.secao > h2{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 24px;
    font-family: var(--font-primaria);
}

.secao > p{
    font-weight: 400;
    width: 1200px;
    margin-bottom: 20px;
    font-family: var(--font-primaria);
}


.galeria > img{
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 150px;
    border: 1px #98336C solid;
}
